<div class="scribe-footer-credits emigrants-footer-credits">
  <div>
    <p>
      Cette plateforme de crowdsourcing de transcription des carnets de terrain a été réalisé dans le cadre d'un projet effectué à Polytech Nantes.
    <p>&copy; Polytech Nantes 2020-2021</p>
  </div>
</div>
