<div class="scribe-footer-credits emigrants-footer-credits">
  <div>
    <p>
      Cette plateforme de crowdsourcing de transcription des carnets de terrain est un projet de Polytech Nantes en collaboration avec Laboratoire des sciences du numériques de Nantes.
    <p>&copy; Polytech Nantes 2020-2021</p>
  </div>
</div>
