<div class="scribe-footer-credits emigrants-footer-credits">
  <div>
    <p>
      Cette plateforme de crowdsourcing de transcription des carnets de terrain est un projet de Polytech Nantes en collaboration avec Laboratoire des sciences du numériques de Nantes.
    <p>&copy; Polytech Nantes 2020-2021</p>
  </div>
</div>
<!-- <div class="emigrants-footer-links">
  <div>
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a>
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a>
    <a href="http://www.nypl.org/policy-patron-generated-web-content">Policy on Patron-Generated Web Content</a>
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Terms and Conditions</a>
  </div>
</div> -->
