##À propos du projet

###Contexte de réalisation
Cette application a été réalisée dans le cadre du Projet de Recherche & Développement (PRED) proposé en dernière année par l'école Polytech Nantes. Ce projet est de permettre aux étudiants de participer aux différentes phases de conception et développement d'une solution innovante en lien avec un problème actuel.

###Objectif et complexité
L'objectif de ce projet est alors de mettre au point une plateforme de crowdsourcing permettant la transcription d'anciens carnets de terrain d'archéologistes.
Cependant, la complexité de transcription de ces carnets résident principalement dans la forme du contenu qui peut aussi bien être variés (texte manuscrit, documents additionnels, ...). 

C'est pourquoi nous avons choisi d'utiliser le framework Scribe pour configurer simplement la plateforme en se focalisant sur la cohérence entre le workflow proposé et le type de contenu à transcrire mais également de maximiser l'utilité de chaque étape pour obtenir des résultats facilement exploitables.


###Organisation
Ce projet est alors réparti sur 6 mois et est divisé en différentes phases de progression.
<ul>
	<li> Une première phase est dédié à la réalisation d'un état de l'art à l'aide grâce aux différentes recherches effectuée sur le sujet. Nos recherches portaient sur les systèmes de crowdsourcing mais également les différents outils de transcriptions actuels. </li>
	<li> La seconde phase est quant à elle consacrée au développement de l'outil incluant donc la conception du workflow, export des données, design de la plateforme ...</li>
</ul>

###Amélioration
ArcheoText est un outil particulièrement basique de transcription dont le workflow est généré automatiquement à partir d'une liste détaillée des contenus présents dans les carnets. Cette liste n'est pas exhaustive et nécessite des modifications/améliorations.
Les différents aspects techniques en lien avec la plateforme tels que l'importation et exportation des données, le suivi de progression des résultats des contributeurs, l'ajout d'informations contextuels pour chaque corpus nécessitent également des améliorations majeures pour entre autres améliorer la simplicité d'utilisateur et la qualité des résultats produits.