## Guide de l'outil

### Objectif

Transcrire un document riche aussi bien dans la variété des contenus qu'il renferme que dans la complexité des informations qu'il transmet.

### Tâche 1: Marquage

Identifiez les catégories de contenu présents sur la/les pages et dessiner un rectangle sur la zone cible. Cette étape permet de structurer le document en identiquant une zone 
à transcrire. 

<div class="video-wrapper">
  <video width="680" height="212" loop autoplay src="/images/mark_task.mp4"></video>
</div>

### Tâche 2: Transcription

Transcrivez du mieux que vous pouvez le contenu du cadre précedemment marqué par un autre contributeur. Attention, la catégorie de contenu à transcrire peut être divisée en plusieurs type d'informations à extraire (date, titre ...). Cependant, ces inforamtions peuvent être explicites ou sont même inexistantes les rendant donc optionnelles.


<div class="video-wrapper">
  <video width="680" height="378" loop autoplay src="/images/transcribe_task.mp4"></video>
</div>

### Task 3: Vérification

Certaines transcriptions peuvent divisées selon la lisibilité et la compréhension du contributeur. C'est pourquoi une phase de vérification est nécessaire pour arriver à un accord, un <b>consensus</b>. Votre tâche est donc de choisir la meilleure transcription proposées ou d'entrez la vôtre si nécessaire. 

<div class="video-wrapper">
  <video width="680" height="502" loop autoplay src="/images/verify_task.mp4"></video>
</div>

<div class="columns">
  <ul>
    <li><a class="major-button" href="/#/mark">Marquer</a></li>
    <li><a class="major-button" href="/#/transcribe">Transcrire</a></li>
    <li><a class="major-button" href="/#/verify">Vérifier</a></li>
  </ul>
</div>
