Bienvenue sur la plateforme de crowdsourcing "XXX" ayant pour objectif de transcrire le contenu de carnets de terrain archéologique des années 1970 / 1980. 

<a class="major-button" href="/#/intro">Commencer!</a>

----
