<p>Contribuez à la transcription de carnets de terrain d'archéologues à l'aide de l'outil ArcheoText.</p>
<p>Découvrez les différentes étapes de transcription dans le <a href="/#/guide">guide</a></p>

<a class="major-button" href="/#/mark">Commencer!</a>

----
